<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="agile-icon" aria-label="Agile" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Luis Ayala's Dashboard</span>
        <span class="agile-spacer"></span>
        <button mat-icon-button class="agile-icon search-icon" aria-label="Search">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button class="agile-icon favorite-icon" aria-label="Favorites">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="agile-icon" aria-label="Menu">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
      <mat-sidenav-container class="agile-container">

        <mat-sidenav #sidenav class="agile-sidenav" mode="side" opened="true">
            <mat-nav-list (click)="sidenav.toggle()">
              <app-side-bar-menu-item [nameMenu]="username" [descriptionMenu]="useremail"  [iconNameMenu]="'account_circle'" [routerLink]="'/'"/>
              <app-side-bar-menu-item [nameMenu]="'Home'" [descriptionMenu]="''"  [iconNameMenu]="'home'" [routerLink]="'/'"/>
              <app-side-bar-menu-item [nameMenu]="'Items'" [descriptionMenu]="''"  [iconNameMenu]="'cake'" [routerLink]="'/items'"/>
              <app-side-bar-menu-item [nameMenu]="'Add Item'" [descriptionMenu]="''"  [iconNameMenu]="'plus_one'" [routerLink]="'/items/add'"/>
              <app-side-bar-menu-item [nameMenu]="'About'" [descriptionMenu]="''"  [iconNameMenu]="'public'" [routerLink]="'/about'" />
            </mat-nav-list>
        </mat-sidenav>
        <div class="agile-sidenav-content">
            <div stype="width: 100%">
                <router-outlet>

                </router-outlet>
            </div>
        </div>
      </mat-sidenav-container>
</p>
